name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup BATS
        uses: bats-core/bats-action@3.0.1
        with:
          support-install: true
          assert-install: true

      - name: Run tests
        env:
          TERM: xterm
          MAKEFLAGS: --no-print-directory
          BATS_LIB_PATH: /usr/lib:/usr/local/lib
        run: bats tests/*.bats
